  /* Dropdown Content (Hidden by Default) */
  .dropdown {
    background-color: #1c1c1c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 150px;
    position: absolute;
    text-align: center;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown__link{
    color: #d3d3d3;
    display: block;
    font-size: .9375em;
    margin: 1rem 1.25rem;
    padding-left: 0.25rem;
    text-align: left;
  }
  
  /* Show the dropdown menu on hover */
  .cabecalho__item--dropdown:hover .dropdown {display: block;}
  